@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Sour Gummy', sans-serif;
  color: var(--color-font);

  --color-font: #1a1513;
  --color-light-orange: #ffe2c9;
  --color-orange: #ffbd91;
  --color-light-pink: #ffadd3;
  --color-pink: #ff93ab;
  --color-light-blue: #b0dcff;
  --color-blue: #71bfff;
  --color-light-green: #b0ffd1;
  --color-green: #72ffad;

}

h1, h2, h3, h4 {
  font-family: "Gochi Hand";
}

h1 {
  font-size: 4rem;
  margin: 25px;
}

h2 {
  font-size: 3rem;
  margin: 15px;
}

h3 {
  font-size: 2rem;
  margin: 10px;
}

h4 {
  font-size: 1.5rem;
  margin: 5px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-pink);
  padding: 5px;
}

nav img {
  width: 50px;
  /* padding: -30px; */

}

header {
  text-align: center;
}

body {
  background-color: var(--color-light-orange);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 1;
  background-color: var(--color-light-pink);
  padding: 10px;
}

p {
  padding: 0px;
  margin: 0px;
}

section {
  box-shadow: 1px 2px 8px 0px #57190020;
}

/* Specific Changes */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Blurb */
.blurb-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 60px 20px;
  max-width: 1400px;
}

.blurb-header {
  padding: 0px;
  margin: 0px;
}

.blurb-content {
  background-color: var(--color-orange);
  border-radius: 10px;
  padding: 10px;
  margin: 0px;
}

.blurb-container ul {
  display: grid;
  grid-template-columns: auto auto;
}

/* Blog */
.blog-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 1200px;
  text-decoration: none;
  color: #302923;
  transition: all .1s ease-in-out;
}

.blog-container:hover {
  cursor: pointer;
  scale: 1.03;
  transition: all .1s ease-in-out;
}

.blog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.blog-date,
.blog-title {
  padding: 0px;
  margin: 0px;
}

.blog-content {
  border-radius: 10px;
  padding: 20px 15px 25px 15px;
  margin: 0px;
}

/* Technical CSS HTML */
.technical-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px 30px 70px 30px;
}

/* .technical-title img {
  position: relative;
  width: 200px;
  top: -30px;
} */

.technical-summary {
  background-color: var(--color-orange);
  border-radius: 10px;
  padding: 20px 20px 40px 20px;
  margin: 20px 20px 40px 20px;
  max-width: 1200px;
}

.technical-summary-img {
  display: flex;
  justify-content: center;
  height: 0px;
}

.technical-summary img {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 120px;
  width: 150px;
  bottom: 80px;
}

.technical-blurb {
  background-color: var(--color-orange);
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  max-width: 800px;
}

.technical-blurb-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.technical-blurb img {
  outline: 2px solid var(--color-font);
  border-radius: 5px;
  margin: 1rem;
  height: auto;
  max-width: 100%;
}


.style-1 {
  background-color: var(--color-light-blue);
}

.style-2 {
  background-color: var(--color-light-green);
}

.style-3 {
  background-color: var(--color-light-pink);
}

.style-4 {
  background-color: var(--color-light-orange);
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
    .container { /* some layout rules */ }
}
  
/* tablets */
@media only screen and (max-width: 919px) {
    .container { /* some layout rules */ }
}
  
/* phones */
@media only screen and (max-width: 450px) {
    .technical-summary img {
      bottom: 100px;
    }
}