@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Sour Gummy', sans-serif;

}

h1, h2, h3, h4 {
  font-family: "Gochi Hand";
}

h1 {
  font-size: 4rem;
  margin: 25px;
}

h2 {
  font-size: 3rem;
  margin: 15px;
}

h3 {
  font-size: 2rem;
  margin: 10px;
}

h4 {
  font-size: 1.2rem;
  margin: 5px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffb89d;
  padding: 10px;
}

header {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 1;
  background-color: #ffb89d;
  padding: 10px;
}

p {
  padding: 0px;
  margin: 0px;
}

/* Specific Changes */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Blurb */
.blurb-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 60px 20px;
  max-width: 1400px;
}

.blurb-header {
  padding: 0px;
  margin: 0px;
}

.blurb-content {
  background-color: #ffd0b0;
  border-radius: 10px;
  padding: 10px;
  margin: 0px;
}

.blurb-container ul {
  display: grid;
  grid-template-columns: auto auto;
}

/* Blog */
.blog-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 1200px;
  text-decoration: none;
  color: #302923;
  transition: all .1s ease-in-out;
}

.blog-container:hover {
  cursor: pointer;
  scale: 1.03;
  transition: all .1s ease-in-out;
}

.blog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.blog-date,
.blog-title {
  padding: 0px;
  margin: 0px;
}

.blog-content {
  border-radius: 10px;
  padding: 20px 15px 25px 15px;
  margin: 0px;
}

/* Technical CSS HTML */
.technical-summary {
  max-width: 1200px;
}

.technical-blurb {
  max-width: 800px;
}


.style-1 {
  background-color: #b0dcff;
}

.style-2 {
  background-color: #b0ffd1;
}

.style-3 {
  background-color: #ffb0b0;
}

.style-4 {
  background-color: #b0dbff;
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
    .container { /* some layout rules */ }
}
  
/* tablets */
@media only screen and (max-width: 919px) {
    .container { /* some layout rules */ }
}
  
/* phones */
@media only screen and (max-width: 400px) {
    .container { /* some layout rules */ }
}